/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 a {color:black;}

body {
  background-color: lightgrey;

}

#header {
  width: 65%;
  height: 150px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: #516CA3;
  border-radius: 10px;
}

.cell {
  background-color: grey;
	border: 1px solid black;
	width: 250px;


}

.short_cell {
  background-color: grey;
	border: 1px solid black;
	width: 75px;

}

#player_div {
  background-color: #516CA3;
  width: 65%;
  height: 55px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: 8px 8px 0px 0px;
  margin-left: auto;
  margin-right: auto;

}

#song_index {
  background-color: #516CA3;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px 0px 8px 8px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.medium_cell {
  background-color: grey;
  border: 1px solid black;
  width: 175px;
}

.play_link {
  text-align: right;
}

.play_link:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #FC6EF1;

}

#song_table {
  margin-left: auto;
  margin-right: auto;
}

#search_box {
  float: right;
  margin-right: 50px;
  padding-top: 20px;
}

.userinfo {
  height: 22px;
  margin-right: 20px;
  background-color: grey;
  border: 1px solid black;
}

#show_player {
  float: left;
  margin-left: 50px;
  padding-top: 20px;
}

#headertext {
  text-align: center;
}

#now_playing {
  max-width: 500px;
  float: left;
  margin-top: 25px;
  margin-left: 40px;
}


#NP {
  color: yellow;
}

#NP_info {
  color: white;

}
#navbar {
  width: 65%;
  height: 40px;
  border: 1px 1px 1px 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.nav_buttons {
  width: 100px;
  height: 22px;
  border: 1px solid black;
  float:left;
  text-align: middle;
  background-color: grey;
}

.nav_buttons:hover { 
  background-color: #D3D6FF;
}

#home {
  width: 50px;
}

.well {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.signup {
  width: 60%;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  background-color: #516CA3;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}

#clear {
  clear: both;
}

#footer {
  width: 60%;
  height: 100px;
  border: 1px solid black;
  margin-top: 10px; 
  bottom: 5px;
  margin-left: 366px;
  text-align: center;
  background-color: #516CA3;
  border-radius: 10px;
  clear: left;
  }

